<!DOCTYPE html>
<html>
<head>
  <!-- include our dependency on angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="avatar.js"></script>
<link href="https://fonts.googleapis.com/css?family=Butterfly+Kids|Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="avatar.css">
  <meta charset="utf-8">
  <title>User Avatar Template</title>
</head>
<body>
    <div id="header">
        Guest Registration</div>
<p></p>
<p></p>
<div ng-app='app' ng-controller='mainCtrl'>

    <form name='userForm' ng-submit='addNew(userForm)'>
        Name: <input placeholder='Name' ng-model='userForm.name'/>
        Email: <input placeholder = 'address@example.com' ng-model='userForm.email'/>
        <p></p>
        Upload Image: <input placeholder='Image Url' ng-model='userForm.url'/>
        <button class="button" type='submit'>Add New</button>
    </form>
    
    <!--
 We've clearly gone mad and have replaced the div, img, and h4 tags with what
 appears to be a mythical `avatar` tag.
 Note we have a property of user, passing a value of user. This will be the user object
 from the ng-repeat
-->
    <ul class='User-list'>
    <li ng-repeat='user in users'>
        <avatar user='user' />
    </li>
    </ul>
</div>
</body>
</html>
